[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-blackboard"]
	path = bundle/vim-blackboard
	url = https://github.com/rickharris/vim-blackboard.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/vim-ipython"]
	path = bundle/vim-ipython
	url = git@github.com:wmvanvliet/vim-ipython.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search
